html{
  background-color: rgb(135, 150, 134);
}
nav{
  font-family:monospace;
  font-size: large;
  background-color:#ff7a59;
  margin:auto;
  width:40%;
  padding: 10px; 
   border: 1px solid #ff7a59;
   
}
h3{font-size:16px;}
.small-image{
  width:90%;
  align-items: center;
  margin-left:25px;
  margin-top: 30px;
  margin-bottom:30px;
}
.center,h1,h2{
  font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 40%;
    border: 1px solid #ffffff;
    padding: 10px;
    }
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:36px;
}
meter {
  width: 200px;
}
.image{width: 50%;
margin:auto;
height:30%;}
h2{
  font-size: 12px;
  text-align:left;
  color:white;
}
p, li{
font-size: small;
color:#2D3E50;
margin:auto;
padding-top: auto;
padding-bottom:auto;
text-align: justify;
font-family: sans-serif;
background-color:rgb(246, 252, 192);}

img{
  align-items:center;
}
hr
{height:5px;}
.margin{ background-color: #ff7a59;
  border-radius: 10px;
  color: #2D3E50;
  font-family: 'Avenir';
	font-weight: bold;
  margin: 20px;
  display: inline-block;
  text-align: center;}
h3{margin:10px;}

.links{
  color:rgb(219, 14, 14);
  font-family:monospace;
}
.links:hover {
  color:white;
}
a:hover {
  color:white;
}
footer{
  text-align: center;
  font-size: 15px;
  font-family:monospace;
  position:relative;}
.code{
  text-align: center;
  background-color:rgb(255, 215, 85);
  padding:20px 20px 20px 20px;
  margin:0px 50px 0px 50px;

}
.code_two{
  text-align: center;
  background-color:rgb(255, 215, 85);
  padding:20px 20px 20px 20px;
  margin:0px 50px 0px 70px;
  display:inline-block; 
}
.code_two2{
  text-align: center ;
  background-color:rgb(255, 215, 85);
  padding:20px 20px 20px 20px;
  margin:0px 50px 0px 50px;
  display:inline-block;
}
